{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <br>
    <h1>Diseños Enviados</h1>
</div>
{% endblock %}

{% load static %}


{% block head %}
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Diseñador</th>
{% endif %}
<th>Asesor</th>
<th>Cliente</th>
<th>Descripcion</th>
<th>Fecha Subido</th>
<th>Fecha Estado</th>
<th>Estado</th>
<th>Comentario</th>
<th>Opciones</th>
{% endblock %}

{% block tbody %}
{% for d in disenos %}
<tr>
    <td>{{ d.id }}</td>
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
        {% if d.usuario.first_name and d.usuario.last_name %}
            <td>{{ d.usuario.first_name}} {{ d.usuario.last_name}}</td>
        {% else %}
            <td>{{ d.usuario.username}}</td>
        {% endif %}
    {% endif %}
    <td>{{ d.presupuesto.asesor.first_name }} {{ d.presupuesto.asesor.last_name }}</td>
    <td>{{ d.presupuesto.cliente }}</td>
    <td>{{ d.presupuesto.descripcion }}</td>
    <td>{{ d.fecha }}</td>
    <td>{{ d.fecha_cambio }}</td>
    <td>{{ d.estado }}</td>
    <td>
        {% if d.estado == 'Rechazado' %}
            {{d.comentario}}
        {% elif d.estado == 'Aprobado' %}
            <i class="bi bi-check-all"></i>
        {% else %}
            <i class="bi bi-hourglass-split"></i>
        {% endif %}
    </td>
    <td>
        <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_archivo' id=d.id %}" download>
            <i class="bi bi-cloud-download"></i>
        </a>
    </td>
</tr>
{% endfor %}


{% endblock %}

{% block footer %}
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Diseñador</th>
{% endif %}
<th>Asesor</th>
<th>Cliente</th>
<th>Descripcion</th>
<th>Fecha Subido</th>
<th>Fecha Estado</th>
<th>Estado</th>
<th>Comentario</th>
<th>Opciones</th>
{% endblock %}