{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <br>
    <h1>Diseños Pendientes</h1>
</div>
{% endblock %}

{% load static %}


{% block head %}
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>Cliente</th>
<th>Descripcion</th>
<th>Fecha de Inicio</th>
<th>Estado</th>
<th>Opciones</th>
{% endblock %}

{% block tbody %}
{% for p in pres %}
<tr>
    <td>{{ p.id }}</td>
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
    <td>{{ p.asesor.first_name}} {{ p.asesor.last_name}}</td>
    {% endif %}
    <td>{{ p.cliente }}</td>
    <td>{{ p.descripcion }}</td>
    <td>{{ p.fecha_inicio }}</td>
    <td>{{ p.estado }}</td>
    <td>
        <div>
            <a class="btn btn-info btn-sm btn-block" href="/Diseno/SubirArchivo/{{p.id }}">Subir diseño</a>
            {% comment %} <a class="btn btn-success btn-sm btn-block" href="#">Generar Orden</a> {% endcomment %}
        </div>
    </td>
</tr>
{% endfor %}


{% endblock %}

{% block footer %}
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>Cliente</th>
<th>Descripcion</th>
<th>Fecha de Inicio</th>
<th>Estado</th>
<th>Opciones</th>
{% endblock %}