# Ignorar archivos y directorios generados por Python
Fabrica_Project/Fabrica_Project/__pycache__/
Fabrica_Project/Asesores/migrations/__pycache__/
Fabrica_Project/Asesores/__pycache__/
Fabrica_Project/Login/migrations/__pycache__/
Fabrica_Project/Login/__pycache__/
Fabrica_Project/Cotizadores/migrations/__pycache__/
Fabrica_Project/Cotizadores/__pycache__/
Fabrica_Project/Produccion/migrations/__pycache__/
Fabrica_Project/Produccion/__pycache__/
Fabrica_Project/Diseñadores/migrations/__pycache__/
Fabrica_Project/Diseñadores/__pycache__/
