# Ignore Python cache files
__pycache__/

# Ignore migrations cache files in specific apps
Asesores/migrations/__pycache__/
Asesores/__pycache__/
Login/migrations/__pycache__/
Login/__pycache__/
Cotizadores/migrations/__pycache__/
Cotizadores/__pycache__/
Produccion/migrations/__pycache__/
Produccion/__pycache__/
Diseñadores/migrations/__pycache__/
Diseñadores/__pycache__/
