{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <br>
    <h1>Diseños CNC enviados</h1>
</div>
{% endblock %}

{% load static %}


{% block head %}
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Diseñador</th>
{% endif %}
<th>Asesor</th>
<th>Cliente</th>
<th>Hoja de Producción</th>
<th>Diseño CNC</th>
<th>Diseño de Producción</th>
<th>Orden</th>
{% endblock %}



{% block tbody %}
    {% for hoja in hojas %}
    <tr>
        <td>{{hoja.id}}</td>
        {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
        <td>{{hoja.disenador.first_name}} {{hoja.disenador.last_name}}</td>
        {% endif %}
        {% for orden_trabajo in hoja.orden_trabajo_set.all %}
        <td>
            {{orden_trabajo.presupuesto.asesor.first_name}} {{orden_trabajo.presupuesto.asesor.last_name}}
        </td>
        <td>
            {{orden_trabajo.presupuesto.cliente}}
        </td>
        {% endfor %}
        <td>
            <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_hoja-produccion' id=hoja.id %}" download>
                <i class="bi bi-cloud-download"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-info btn-sm btn-block" href="{% url 'cnc_descargar' id=hoja.id %}" download>
                <i class="bi bi-cloud-download"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-info btn-sm btn-block" href="{% url 'produccion_descargar' id=hoja.id %}" download>
                <i class="bi bi-cloud-download"></i>
            </a>
        </td>
	<td>
	    {% for orden_trabajo in hoja.orden_trabajo_set.all %}
                <a class="btn btn-success btn-sm btn-block" href="{% url 'ordenes_trabajo_info' id_o=orden_trabajo.id fin=1 %}"><i class="bi bi-info-circle"></i> Info</a>
            {% endfor %}
	</td>
    </tr>
    {% endfor %}
{% endblock %}




{% block footer %}
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Diseñador</th>
{% endif %}
<th>Asesor</th>
<th>Cliente</th>
<th>Hoja de Producción</th>
<th>Diseño CNC</th>
<th>Diseño de Producción</th>
<th>Orden</th>
{% endblock %}
