{% extends 'tables.html' %}

{% block botones%}
<div class="container">

    <div class="text-center row ">
        <h1>Ordenes de Trabajo</h1>
        {% if datos.orden.diseno_CNC %}
        <div class="col-md-2 mt-3 mb-3">
        {% else %}
        <div class="col-md-3 mt-3 mb-3">
        {% endif %}
            <a class="btn btn-success btn-block" href="{% url 'descargar_archivo' id=datos.diseno_aprobado.id %}" download>
                Diseño
            </a>
        </div>
        {% if datos.orden.diseno_CNC %}
        <div class="col-md-2 mt-3 mb-3">
        {% else %}
        <div class="col-md-3 mt-3 mb-3">
        {% endif %}
            <a class="btn btn-info btn-block" href="{% url 'descargar_archivo_Cotizacion' id=datos.cotizacion_aprobada.id %}" download>
                Cotizacion
            </a>
        </div>
        {% if datos.orden.diseno_CNC %}
        <div class="col-md-2 mt-3 mb-3">
        {% else %}
        <div class="col-md-3 mt-3 mb-3">
        {% endif %}
            <a class="btn btn-success btn-block" href="{% url 'descargar_contrato' id=datos.orden.id %}" download>
                Contrato
            </a>
        </div>
        {% if datos.orden.diseno_CNC %}
        <div class="col-md-2 mt-3 mb-3">
            <a class="btn btn-secondary btn-block" href="{% url 'descargar_cnc' id_o=datos.orden.id %}" download>
                CNC
            </a>
        </div>
        {% endif %}
        {% if datos.orden.diseno_CNC %}
        <div class="col-md-2 mt-3 mb-3">
        {% else %}
        <div class="col-md-3 mt-3 mb-3">
        {% endif %}
            {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
            <a id="btn-asignar" class="btn btn-danger btn-block" href="{% url 'TrabajosCrear' id_orden=datos.orden.id %}">
                Asignar
            </a>
            {% endif %}
        </div>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      var btnAsignar = document.getElementById("btn-asignar");
      var trabajosSinFechaFin = {{ trabajos_con_fecha_fin|yesno:"true,false" }};
      
      if (trabajosSinFechaFin) {
        btnAsignar.classList.add("disabled");
        btnAsignar.removeAttribute("href");
      }
    });
    </script>
{% endblock %}

{% load static %}


{% block head %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>ID</th>
<th>Trabajador</th>
<th>Grupo</th>
<th>Inicio</th>
<th>Finalizado</th>
<th>Descripcion</th>
{% endif %} 
{% endblock %}



{% block tbody %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
{% for trabajoq in Trabajos %}
<tr>
    <td>{{trabajoq.id}}</td>
    <td>{{trabajoq.trabajo.trabajador.first_name}} {{trabajoq.trabajo.trabajador.last_name}}</td>
    <td>{{trabajoq.trabajo.grup}}</td>
    <td>{{trabajoq.trabajo.fecha_inicio}}</td>
    {% if trabajoq.trabajo.fecha_fin %}
    <td>{{trabajoq.trabajo.fecha_fin}}</td>
    {% else %}
    <td></td>
    {% endif %}
    <td>{{trabajoq.trabajo.descripcion}}</td>
</tr>
    {% endfor %}
{% endif %}
{% endblock %}




{% block footer %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>ID</th>
<th>Trabajador</th>
<th>Grupo</th>
<th>Inicio</th>
<th>Finalizado</th>
<th>Descripcion</th>
{% endif %}
{% endblock %}