{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Trabajos</h1>
</div>
{% endblock %}

{% load static %}


{% block head %} 
<th>ID</th>
<th>Descripcion</th>
<th>Fecha de Inicio</th>
<th>Fecha de Finalizado</th>
<th>Opciones</th>
{% endblock %}

{% block tbody %}
{% for trabajo in trabajos %}
<tr>
    <td>{{trabajo.id}}</td>
    <td>{{trabajo.descripcion}}</td>
    <td>{{trabajo.fecha_inicio}}</td>
    <td>{{trabajo.fecha_fin}}</td>
    <td>
        <div>
            <a class="btn btn-info btn-sm btn-block" href="#">Info</a>
        </div>
    </td>
</tr>
{% endfor %}
 {% endblock %}

 {% block footer %} 
 <th>ID</th>
<th>Descripcion</th>
<th>Fecha de Inicio</th>
<th>Fecha de Finalizado</th>
<th>Opciones</th>
 {% endblock %}