{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Trabajos</h1>
</div>
{% endblock %}

{% load static %}


{% block head %} 
<th>ID</th>
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Encargado</th>
{% endif %}
<th>Grupo</th>
<th>Descripcion</th>
<th>Fecha de Inicio</th>
<th>Opciones</th>
{% endblock %}

{% block tbody %}
{% for trabajo in trabajos %}
<tr>
    <td>{{trabajo.id}}</td>
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
    <td>{{trabajo.trabajador.first_name}} {{trabajo.trabajador.last_name}}</td>
    {% endif %}
    <td>{{trabajo.grup.name}}</td>
    <td>{{trabajo.descripcion}}</td>
    <td>{{trabajo.fecha_inicio}}</td>
    <td>
        <div>
            {% for trabajos_orden in trabajo.trabajos_orden_set.all %}
            <a class="btn btn-info btn-sm btn-block" href="{% url 'ordenes_trabajo_info' id_o=trabajos_orden.orden.id fin=0 %}">Info</a>
            <a class="btn btn-danger btn-sm btn-block" href="{% url 'finalizar_trabajo' id_t=trabajo.id %}">Finalizar</a>
            {% endfor %}
        </div>
    </td>
</tr>
{% endfor %}
 {% endblock %}

 {% block footer %} 
 <th>ID</th>
 {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
 <th>Encargado</th>
 {% endif %}
 <th>Grupo</th>
 <th>Descripcion</th>
 <th>Fecha de Inicio</th>
 <th>Opciones</th>
 {% endblock %}