{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Presupuesto - {{presupuesto.id}}</h1>
    <h3>{{presupuesto.estado}}</h3>

</div>
<br>
<div class="row">
    <div class="col-md-6">
        <label for="presupuesto_desc">Cliente:</label>
        <input type="text" class="form-control form-control-user" readonly name="presupuesto_desc" value="{{ presupuesto.cliente }}">
    </div>
    <div class="col-md-6">
        <label for="presupuesto_desc">Descripción:</label>
        <textarea class="form-control form-control-user" readonly name="presupuesto_desc" linenumbers="4">{{ presupuesto.descripcion }}</textarea>
       
    </div>
    {% for contrato in contratos %}
    <div class="col-md-6 col-lg-6 mt-3">
        <a name="desc_contrato" class="btn btn-info btn-block" href="{% url 'descargar_contrato' id=contrato.id %}" download>
            <i class="bi bi-cloud-download"></i>
            Contrato
        </a>
    </div>
    {% if contrato.contrato %}
    <div class="col-md-6 col-lg-6 mt-3 row">
        <div class="col-md-6 col-lg-6">
            <a name="rechazo" class="btn btn-danger btn-block" href="/Presupuesto/Rechazar/{{presupuesto.id}}/1">
                <i class="bi bi-x-octagon"></i> 
                Rechazar
            </a>
        </div>
        {% if contrato.fecha_Entregado %}
        <div class="col-md-6 col-lg-6">
        <a name="entrega" class="btn btn-warning text-dark fw-bold btn-block" href="/Presupuesto/Rechazar/{{presupuesto.id}}/0">
            <i class="bi bi-check-circle"></i>
            Entrega a Cliente
        </a>
        </div>
        {% endif %}
    </div>
        {% endif %}
    {% endfor %}
</div>
{% if presupuesto.estado == "Pendiente de contrato" %}
<div class="row justify-between">
    <div class="col-md-12 col-lg-12">
        <a class="btn btn-success btn-lg" href="{% url 'subir_Contrato' id_p=presupuesto.id %}"><i class="bi bi-upload"></i> Subir Contrato</a>
    </div>
</div>
{% endif %}
<div style="justify-content: space-between;" class="mt-3">
    <h4>Diseños</h4>
</div>
{% endblock %}

{% load static %}


{% block head %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Estado</th>
<th>Diseño</th>
<th>Cotizacion</th>
{% endblock %}

{% block tbody %}
{% for diseno in pres %}
<tr>
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
    <td>{{ diseno.usuario.first_name}} {{ diseno.usuario.last_name}}</td>
    {% endif %}
    <td>{{ diseno.id }}</td>
    <td>{{ diseno.fecha }}</td>
    <td>
        {{ diseno.estado }} 
        {% if diseno.comentario != null %}
            <br> 
            {{diseno.comentario}}
        {% endif %}
    </td>
    <td>
        <div>
            {% if diseno.estado == 'Esperando aprobación' %}
            <div class="text-center">
                <a style="margin-bottom: 5px; width: 100%;" class="btn btn-success btn-md" href="/Presupuesto/Diseno/Aprobar/{{presupuesto.id }}/{{diseno.id }}"><i class="bi bi-check-circle"></i></a>
                <br>
                <button style="margin-bottom: 5px; width: 100%;" class="btn btn-danger btn-md" type="button" data-bs-toggle="modal" data-bs-target="#editDisenoModal">
                    <i class="bi bi-x-octagon"></i>
                </button>
            </div>

            <!-- Script para mandar el valor del comentario -->
            <script>
                function rechazarDiseno() {
                    var comentarioValue = $('#comentario').val();
                    var disenoId = $('#id').val();
                    var presupuestoId = $('#presupuestoId').val(); // assuming you have a hidden input with the presupuestoId
                    var url = '/Presupuesto/Diseno/Rechazar/' + presupuestoId + '/' + disenoId + '/?comentario=' + encodeURIComponent(comentarioValue);
                    window.location.href = url;
                }
            </script>

            <!-- Modal -->
            <div class="modal fade" id="editDisenoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editDisenoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editDisenoModalLabel">Rechazar diseño</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        {% csrf_token %}
                        <div class="modal-body">
                            <div>
                                <input type="hidden" class="form-control" name="id" id="id" value={{diseno.id}} >
                                <input type="hidden" class="form-control" name="presupuestoId" id="presupuestoId" value={{presupuesto.id}} >
                            </div>
                            <div>
                                <label for="comentario">Motivo de rechazo:</label>
                                <textarea class="form-control" name="comentario" id="comentario" required> </textarea>    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="rechazarDiseno()">Rechazar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endif %}
            <div class="text-center">
                <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_archivo' id=diseno.id %}" download>
                    <i class="bi bi-cloud-download"></i>
                </a>
            </div>
        </div>
    </td>
    <td>
        <a class="btn btn-primary btn-sm btn-block" href="/Presupuesto/Informacion/Diseno/{{diseno.id}}/">
            <i class="bi bi-eye"></i>
        </a>
    </td>
</tr>
{% endfor %}

{% endblock %}

{% block footer %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Estado</th>
<th>Diseño</th>
<th>Cotizacion</th>


{% endblock %}