{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Presupuesto - {{presupuesto.id}}</h1>
    <h3>{{presupuesto.estado}}</h3>
    <h4>{{presupuesto.fecha_fin}}</h4>

</div>
<br>
<div class="row">
    <div class="col-md-6">
        <label for="presupuesto_desc">Cliente:</label>
        <input type="text" class="form-control form-control-user" readonly name="presupuesto_desc" value="{{ presupuesto.cliente }}">
    </div>
    <div class="col-md-6">
        <label for="presupuesto_desc">Descripción:</label>
        <textarea class="form-control form-control-user" readonly name="presupuesto_desc" linenumbers="4">{{ presupuesto.descripcion }}</textarea>
       
    </div>
<div style="justify-content: space-between;" class="mt-3">
    <h4>Diseños</h4>
</div>
{% endblock %}

{% load static %}


{% block head %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Estado</th>
<th>Diseño</th>
<th>Cotizacion</th>
{% endblock %}

{% block tbody %}
{% for diseno in pres %}
<tr>
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
    <td>{{ diseno.usuario.first_name}} {{ diseno.usuario.last_name}}</td>
    {% endif %}
    <td>{{ diseno.id }}</td>
    <td>{{ diseno.fecha }}</td>
    <td>{{ diseno.estado }}</td>
    <td>
        <div>
            {% if diseno.estado == 'Esperando aprobación' %}
            <div class="text-center">
                <a style="margin-bottom: 5px; width: 100%;" class="btn btn-success btn-md" href="/Presupuesto/Diseno/Aprobar/{{presupuesto.id }}/{{diseno.id }}"><i class="bi bi-check-circle"></i></a>
                <br>
                <a style="margin-bottom: 5px; width: 100%;" class="btn btn-danger btn-md" href="/Presupuesto/Diseno/Rechazar/{{presupuesto.id }}/{{diseno.id }}"><i class="bi bi-x-octagon"></i></a>
            </div>
            {% endif %}
            <div class="text-center">
                <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_archivo' id=diseno.id %}" download>
                    <i class="bi bi-cloud-download"></i>
                </a>
            </div>
        </div>
    </td>
    <td>
        <a class="btn btn-primary btn-sm btn-block" href="/Presupuesto/Informacion/Diseno/{{diseno.id}}/">
            <i class="bi bi-eye"></i>
        </a>
    </td>
</tr>
{% endfor %}


{% endblock %}

{% block footer %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Estado</th>
<th>Diseño</th>
<th>Cotizacion</th>
{% endblock %}