{% extends 'two-tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Documentos de produccion</h1>
</div>
<br>
{% endblock %}

{% load static %}

<!-- Tabla para visualizar contrato y carta -->
{% block table1_head %}
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
        {% if orden.presupuesto.asesor.first_name and orden.presupuesto.asesor.last_name %}
            <td>{{ orden.presupuesto.asesor.first_name }} {{ orden.presupuesto.asesor.last_name }}</td>
        {% else %}
            <td>{{ orden.presupuesto.asesor.username }}</td>
        {% endif %}
    {% endif %}
    <th>ID</th>
    <th>Fecha</th>
    <th>Contrato</th>
    <th>Carta</th>
{% endblock %}

{% block table1_tbody %}
    {% for orden in orden %}
        <tr>
            {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
                <td>{{ orden.asesor.first_name}} {{ orden.asesor.last_name}}</td>
            {% endif %}
            <td>{{ orden.id }}</td>
            <td>{{ orden.fecha_inicio }}</td>
            <td>
                <div class="text-center">
                    <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_contrato' id=orden.presupuesto_id %}" download>
                        <i class="bi bi-cloud-download"></i>
                    </a>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_carta' id=orden.presupuesto_id %}" download>
                        <i class="bi bi-cloud-download"></i>
                    </a>
                </div>
            </td> 
        </tr>
    {% endfor %}
{% endblock %}

<!-- Tabla para visualizar hojas de produccion -->
{% block table2_head %}
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
        <th>Diseñador</th>
    {% endif %}
    <th>ID</th>
    <th>Fecha</th>
    <th>Hoja de producción</th>
    <th>Diseño CNC</th>
    <th>Diseño de producción</th>
{% endblock %}

{% block table2_tbody %}
    {% for hoja in hojas %}
        <tr>
            {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
                <td>{{ hoja.asesor.first_name}} {{ hoja.asesor.last_name}}</td>
            {% endif %}
            <td>{{ hoja.id }}</td>
            <td>{{ hoja.fecha }}</td>
            <td>
                <div class="text-center">
                    <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_hoja_produccion' id=hoja.id %}" download>
                        <i class="bi bi-cloud-download"></i>
                    </a>
                </div>
            </td>
            <td>
                CNC
            </td>
            <td>
                Diseño de producción
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table2_footer %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Diseñador</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Hoja de producción</th>
<th>Diseño CNC</th>
<th>Diseño de producción</th>
{% endblock %}