{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Presupuestos</h1>
</div>
{% endblock %}

{% load static %}


{% block head %} 
<th>ID</th>
<th>Cliente</th>
<th>Descripcion</th>
<th>Fecha de Inicio</th>
<th>Opciones</th>
{% endblock %}

{% block tbody %}
<tr>
    <td>System Architect</td>
    <td>Edinburgh</td>
    <td>61</td>
    <td>2011-04-25</td>
    <td>$320,800</td>
</tr>
<tr>
    <td>Accountant</td>
    <td>Tokyo</td>
    <td>63</td>
    <td>2011-07-25</td>
    <td>$170,750</td>
</tr>
<tr>
    <td>Junior Technical Author</td>
    <td>San Francisco</td>
    <td>66</td>
    <td>2009-01-12</td>
    <td>$86,000</td>
</tr>
<tr>
    <td>Senior Javascript Developer</td>
    <td>Edinburgh</td>
    <td>22</td>
    <td>2012-03-29</td>
    <td>$433,060</td>
</tr>
<tr>
    <td>Accountant</td>
    <td>Tokyo</td>
    <td>33</td>
    <td>2008-11-28</td>
    <td>$162,700</td>
</tr>
<tr>
    <td>Integration Specialist</td>
    <td>New York</td>
    <td>61</td>
    <td>2012-12-02</td>
    <td>$372,000</td>
</tr>
<tr>
    <td>Sales Assistant</td>
    <td>San Francisco</td>
    <td>59</td>
    <td>2012-08-06</td>
    <td>$137,500</td>
</tr>
 {% endblock %}

 {% block footer %} 
 <th>ID</th>
 <th>Cliente</th>
 <th>Descripcion</th>
 <th>Fecha de Inicio</th>
 <th>Opciones</th>
 {% endblock %}