{% extends 'tables.html' %}

{% block botones%}
<div class="container-fluid">
    <div class="text-center">
        <br>
        <h1>Presupuesto {{presupuesto.id}}</h1>
        <h4>{{presupuesto.estado}}</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label for="cliente">Descripción:</label>
            <input type="text" class="form-control form-control-user" name="cliente" id="cliente" readonly
                value="{{presupuesto.cliente}}">
        </div>
        <div class="col-md-6">
            <label for="presupuesto_desc">Descripción:</label>
            <textarea class="form-control form-control-user" readonly
                name="presupuesto_desc">{{ presupuesto.descripcion }}</textarea>
        </div>
    </div>
    <br>
    <div class="row justify-content-end">
        <div class="col-md-12 col-lg-6 text-right">
            <a class="btn btn-success btn-lg"
                href="/Cotizaciones/SubirArchivo/Nueva_Cotizacion/{{presupuesto.id}}"><i class="bi bi-upload"></i> Subir Cotizacion</a>
            {% comment %} <a class="btn btn-success btn-lg"
                href="{% url 'subir_Cotizacion_nuevo' id_p=presupuesto.id %}">Subir Cotizacion</a> {% endcomment %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h4>Cotizaciones previas</h4>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}


{% block head %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Estado</th>
<th>Diseño</th>
<th>Cotizacion</th>

{% endblock %}

{% block tbody %}
{% for diseno in disenos %}
<tr>
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" %}

    {% if diseno.usuario.first_name and diseno.usuario.last_name %}
    <td>{{ diseno.usuario.first_name}} {{ diseno.usuario.last_name}}</td>
    {% else %}
    <td>{{ diseno.usuario.username}}</td>
    {% endif %}

    {% endif %}
    <td>{{ diseno.id }}</td>
    <td>{{ diseno.fecha }}</td>
    <td>{{ diseno.estado }}</td>
    <td>
        <div>
            <a class="btn btn-info btn-sm btn-block" href="{% url 'descargar_archivo' id=diseno.id %}" download>
                <i class="bi bi-cloud-download"></i>
            </a>
        </div>
    </td>
    <td>
        {% if diseno.estado != 'Rechazado' and diseno.estado != 'Diseño guía' %}
            <a class="btn btn-primary btn-sm btn-block" href="/Presupuesto/Informacion/Diseno/{{diseno.id}}/">
                <i class="bi bi-eye"></i>
            </a>
        {% endif %}
    </td> 
</tr>
{% endfor %}


{% endblock %}

{% block footer %}
{% if user.is_superuser or user.groups.all.0.name == "Administrador" %}
<th>Asesor</th>
{% endif %}
<th>ID</th>
<th>Fecha</th>
<th>Estado</th>
<th>Diseño</th>
<th>Cotizacion</th>

{% endblock %}